@media only screen and (max-width: 874px) {
    header nav ul li{
        margin-left: 12px;
    }
    header nav ul li:last-of-type{
        display: none;
    }
    .what_we_do .cards{
        display: flex;
        justify-content: center;
    }
    .tools .gear p{
        max-width: 400px;
    }
    .tools .gear{
        margin-left: 10px;
    }
    .past_clients .logos img:first-of-type{
        margin-left: 10px;
    }
    .past_clients .logos img:last-of-type{
        margin-right: 10px;
    }
    footer .container .left_first{
        margin-left: 10px;
    }
    footer .container form{
        margin-right: 10px;
    }
    footer .container .social{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 794px) {
    header nav ul li a{
        font-size: 11px;
    }
    header nav ul li{
        margin-left: 8px;
    }
}
@media only screen and (max-width: 769px) {
    header nav ul li:last-of-type{
        display: inherit;
    }
    .what_we_do .cards {
        display: flex;
        justify-content: center;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    .tools .by_img {
        width: 100%;
        position: relative;
        height: 500px;
    }
    .tools .gear {
        width: 100%;
        margin: auto;
    }
    .nav-but-wrap {
        display: inline-block;
    }
    .nav{
        position: fixed;
        z-index: 98;
    }
    .nav__content {
        position: fixed;
        visibility: hidden;
        left: 0;
        top: 50%;
        margin-top: 20px;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        width: 100%;
        text-align: center;
    }
    .nav__list-item{
        position: relative;
        display: block;
        margin: auto;
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
        opacity: 0;
        overflow: hidden;
        -webkit-transform: translate(100px, 0%);
        transform: translate(100px, 0%);
        -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, -webkit-transform .3s ease;
        transition: opacity .2s ease, transform .3s ease;
        transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    }
    .nav__list-item a{
        position: relative;
        overflow: hidden;
        cursor: pointer;
        z-index: 2;
        display: inline-block;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:after{
        position: absolute;
        content: '';
        top: 50%;
        margin-top: -2px;
        left: 50%;
        width: 0;
        height: 0;
        opacity: 0;
        background-color: #8167a9;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }
    .nav__list-item a:hover:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
    .nav__list-item a:hover{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a{
        color: rgba(255,255,255,1);
    }
    .nav__list-item.active-nav a:after{
        height: 4px;
        opacity: 1;
        left: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 429px){
    .past_clients .logos{
        display: flex;
        flex-wrap: wrap;
    }
    footer .right_first{
        display: block;
    }
    .tools .gear{
        margin-left: 10px;
    }
}
@media only screen and (max-width: 415px){
    .main_banner article p{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 376px){
    .past_clients .logos{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .what_we_do .container h4{
        margin-left: 6px;
        margin-right: 6px;
    }
    .tools .gear p{
        margin-right: 6px;
    }
}
@media only screen and (max-width: 361px){
    footer .right_first ul{
        text-align: center;
        margin-left: 0;
    }
    footer{
        padding-top: 0;
    }
    footer .container .left_first{
        text-align: center;
        margin-right: 10px;
    }
    footer .container .right_first{
        margin-top: 15px;
    }
    .sunset article{
        margin-left: 10px;
    }
    .monstera article{
        margin-left: 10px;
    }
    .star article{
        margin-left: 10px;
    }
    footer .container:first-of-type{
        display: block;
        margin: auto;
    }
}
@media only screen and (max-width: 321px){
    .main_banner{
        height: 110vh;
    }
    .bottom_icons{
        flex-wrap: wrap;
    }
}